@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin pseudo-element($background-image) {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(#{$background-image});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin background-image($image-url) {
  background-image: url(#{$image-url});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}