@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Allura";
  src: url("../assets/fonts/Allura-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}
:root {
  --primary: #ff4646;
  --dark: #181c29;
  --static-white: #fff;
  --content-background: #ecf3f8;
  --tag-purple: #4361ff;
  --tag-pink: #ff43f7;
  --tag-green: #06a44f;
  --primary-10: rgba(255, 70, 70, 0.1);
  --primary-80: rgba(255, 70, 70, 0.8);
  --static-white-20: rgba(255, 255, 255, 0.2);
  --static-white-40: rgba(255, 255, 255, 0.4);
  --overlay: rgba(24, 28, 41, 0.8);
  --font-family: "Montserrat", sans-serif;
  --second-family: "Allura", serif;
}

html {
  min-height: 100%;
  background-color: var(--static-white);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}
body.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

body::-webkit-scrollbar {
  background: inherit;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid var(--primary-10);
  background-color: var(--primary-10);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-80);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

button,
button:active,
button:focus {
  border: none;
  background-image: none;
  background-color: transparent;
}

h1 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--dark);
  transition: all 0.3s ease;
}

h4,
.action-small {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  line-height: 148%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 82px;
  transition: all 0.3s ease;
}

.header-item__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  gap: 8px;
}

.logo__icon {
  width: 24px;
  height: 24px;
}

.burger-menu {
  display: none;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 8px;
}

.menu__link {
  border-radius: 12px;
  padding: 12px 20px;
  transition: all 0.3s ease;
}
.menu__link-inactive {
  background-color: var(--primary-10);
  color: var(--primary);
}

.hero,
.slider,
.best,
.cta,
.gifts {
  color: var(--static-white);
}

.hero__bg,
.about__bg,
.slider__bg,
.best__bg,
.cta__bg,
.gifts__bg {
  position: relative;
  padding: 60px 8px;
  background-color: var(--primary);
  margin-top: -2px;
}

.hero__bg {
  border-radius: 20px 20px 0 0;
}
.hero__bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../assets/img/bg-ball.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__bg::before,
.about__bg::before,
.slider__bg::before,
.best__bg::before,
.cta__bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../assets/img/bg-snow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-item,
.cta-item,
.gifts__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 432px;
  padding: 60px 0;
  margin: 0 auto;
  gap: 12px;
  text-align: center;
}

.caption {
  font-family: var(--second-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
}

.primary-btn {
  border-radius: 20px;
  padding: 20px 32px;
  background-color: var(--dark);
  color: var(--static-white);
  z-index: 10;
  transition: all 0.5s ease;
}

.about__bg,
.best__bg,
.footer-item {
  padding: 60px 82px;
}

.about-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  height: 528px;
  gap: 60px;
  background-color: var(--static-white);
}

.about__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  max-width: 480px;
  padding: 100px 0 100px 60px;
  gap: 20px;
}

.about__caption {
  color: var(--primary);
}

.about__img {
  background-image: url(../assets/img/santa.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  border-radius: 20px;
}

.slider__bg {
  text-align: center;
  padding: 60px 0;
}

.slider__text,
.best__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.slider__wrap {
  overflow: hidden;
}

.slider-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 82px;
  margin-bottom: 20px;
  gap: 20px;
  will-change: transform;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  gap: 20px;
}

.slide__text {
  font-size: 80px;
  text-transform: uppercase;
}

.slide__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.slide__img-first {
  background-image: url(../assets/img/snowman.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide__img-second {
  background-image: url(../assets/img/christmas-trees.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide__img-third {
  background-image: url(../assets/img/christmas-tree-ball.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide__img-fourth {
  background-image: url(../assets/img/fairytale-house.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: end;
  gap: 20px;
  padding: 0 82px;
}

.slide__btn {
  width: 56px;
  height: 56px;
  border-radius: 20px;
  z-index: 10;
}
.slide__btn-inactive, .slide__btn-inactive:focus {
  border: 1px solid var(--static-white-40);
  transition: all 0.4s ease;
}
.slide__btn-inactive .arrow path, .slide__btn-inactive:focus .arrow path {
  stroke-opacity: 0.4;
}
.slide__btn-active, .slide__btn-active:focus {
  border: 1px solid var(--static-white);
  transition: all 0.4s ease;
}
.slide__btn-active .arrow path, .slide__btn-active:focus .arrow path {
  stroke-opacity: 1;
}

.best__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 12px;
}

.card-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 310px;
  height: 342px;
  border-radius: 20px;
  background-color: var(--content-background);
  z-index: 10;
  transition: all 0.3s ease;
}

.card__img {
  width: 100%;
  height: 230px;
}
.card__img-work {
  background-image: url(../assets/img/gift-for-work.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__img-health {
  background-image: url(../assets/img/gift-for-health.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__img-harmony {
  background-image: url(../assets/img/gift-for-harmony.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 112px;
  border-radius: 20px;
  padding: 20px;
  gap: 8px;
  background: var(--static-white);
}

.purple-work {
  color: var(--tag-purple);
}

.green-health {
  color: var(--tag-green);
}

.pink-harmony {
  color: var(--tag-pink);
}

.cta__bg {
  border-radius: 0 0 20px 20px;
}
.cta__bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../assets/img/bg-forest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 2px;
}

.cta-item {
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 18px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px 20px 12px 20px;
  margin-top: 8px;
  background-color: var(--static-white-40);
}

.timer-unit {
  width: 60px;
}

.separator {
  width: 22px;
  height: 0px;
  border: 1px solid var(--static-white-40);
  transform: rotate(90deg);
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 60px;
}

.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  gap: 12px;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 33%;
  border-radius: 20px;
  padding: 20px;
  gap: 12px;
  background: var(--content-background);
  transition: all 0.3s ease;
}

.contact__icon {
  width: 80px;
  height: 80px;
}

.call {
  background-image: url(../assets/icons/santa-claus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.meet {
  background-image: url(../assets/icons/christmas-tree.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.write {
  background-image: url(../assets/icons/snake.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.action-large {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.social-item svg path,
.info__caption {
  transition: all 0.3s ease;
}

.gifts__bg {
  border-radius: 20px;
}
.gifts__bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../assets/img/bg-garland.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  background-position: top;
  background-size: contain;
}

.gifts-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.gifts__title {
  padding: 0;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.tab {
  border-radius: 12px;
  padding: 12px 20px;
  color: var(--static-white);
  transition: all 0.3s ease;
}
.tab.active {
  background-color: var(--static-white-20);
}

.gifts__cards {
  padding: 0 74px;
}

.arrow-up {
  position: fixed;
  opacity: 0;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  z-index: 40;
  visibility: hidden;
  transition: all 0.4s ease;
}
.overlay.open {
  visibility: visible;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  border-radius: 20px;
  z-index: 50;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.4s ease;
}
.modal.open {
  opacity: 1;
}

.modal__card {
  min-width: 400px;
  height: auto;
}

.close {
  background-image: url(../assets/icons/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.card__text-modal {
  height: auto;
}

.description {
  padding-bottom: 14px;
}

.superpowers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.superpowers-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.key {
  width: 50%;
}

.value {
  text-align: center;
}

.snow-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.snow {
  background-image: url(../assets/icons/snowflake.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 14px;
  height: 16px;
}

@media (hover: hover) {
  a:hover,
  button:hover,
  .card-item:hover {
    cursor: pointer;
  }
  .menu__link-inactive:hover,
  .slide__btn-inactive:hover,
  .tab-active:hover,
  .modal__card:hover {
    cursor: default;
  }
  .menu__link:hover {
    background-color: var(--primary-10);
    color: var(--primary);
  }
  .primary-btn:hover {
    background-color: var(--static-white);
    color: var(--dark);
  }
  .slide__btn-active:hover {
    border: 1px solid var(--static-white);
    background-color: var(--static-white);
  }
  .slide__btn-active:hover .arrow-right svg path, .slide__btn-active:hover .arrow-left svg path {
    stroke: var(--primary);
  }
  .card-item:hover h3,
  .contact-item:hover h3,
  .contact-item:hover .action-large,
  .info__caption:hover {
    color: var(--primary);
  }
  .modal__card:hover h3 {
    color: inherit;
  }
  .social-item:hover svg path {
    stroke: var(--primary);
  }
  .tab:hover {
    background-color: var(--static-white-20);
  }
}
@media (max-width: 1438px) {
  .header-item {
    padding: 12px calc(4vw + 8px);
  }
  .about__bg,
  .best__bg,
  .footer-item {
    padding: 60px calc(4vw + 8px);
  }
  .gifts__cards {
    padding: 0 calc(4vw + 8px);
  }
  .about__text {
    width: 42%;
    padding: calc(60px + 40 * (100vw - 768px) / 672) 0 calc(60px + 40 * (100vw - 768px) / 672) 60px;
  }
  .slider-item {
    padding-left: calc(4vw + 8px);
  }
  .slider__btns {
    padding: 0 calc(4vw + 8px);
  }
  .best__cards {
    justify-content: space-around;
  }
}
@media (max-width: 1402px) {
  .best__cards {
    justify-content: center;
    column-gap: 168px;
  }
}
@media (max-width: 1130px) {
  .best__cards {
    column-gap: 48px;
  }
  .footer__contacts {
    flex-direction: column;
    width: 100%;
  }
  .contact-item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header-item {
    padding: 12px 8px;
  }
  .burger-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0 10px;
  }
  .burger-menu .line {
    display: block;
    position: absolute;
    width: 20px;
    height: 1px;
    border-radius: 2px;
    background-color: var(--dark);
    transition: transform 0.3s ease;
  }
  .burger-menu .line:first-child {
    top: 15px;
  }
  .burger-menu .line:last-child {
    top: 23px;
  }
  .burger-menu.active .line:first-child {
    transform: translateY(4px) rotate(45deg);
  }
  .burger-menu.active .line:last-child {
    transform: translateY(-4px) rotate(-45deg);
  }
  .menu__list {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    margin-top: 62px;
    gap: 32px;
    background-color: var(--static-white);
    z-index: 20;
    transform: translateX(100%);
    transition: transform 0.4s ease;
  }
  .menu__list.active {
    transform: translateX(0);
    transition: transform 0.4s ease;
  }
  .menu__link {
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }
  .about__bg,
  .best__bg,
  .footer-item {
    padding: 60px 8px;
  }
  .slider-item {
    padding-left: 8px;
  }
  .slider__btns {
    padding: 0 8px;
  }
  .best__cards {
    column-gap: 8px;
  }
  .arrow-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    bottom: 8px;
    right: 8px;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    border: 1px solid var(--primary);
    background-color: var(--static-white);
    z-index: 30;
    transition: all 0.3s ease;
  }
  .arrow-up.visible {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 720px) {
  .about-item {
    flex-direction: column;
    height: auto;
    gap: 0;
  }
  .about__text {
    width: 100%;
    padding: 60px 20px;
  }
  .about__img {
    width: 100%;
    height: 528px;
  }
  .tabs {
    gap: 0;
  }
  .tab {
    padding: 12px 8px;
  }
  .modal,
  .modal__card {
    min-width: 364px;
  }
}/*# sourceMappingURL=main.css.map */